<ion-view view-title="About Us">
  <ion-content>
    <div class="card">
  		<div class="item item-divider">
  			Our History
  		</div>
  		<div class="item item-text-wrap">
  			<p>Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong. With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list clientele in Hong Kong.  Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us.</p>

			<p>The restaurant traces its humble beginnings to The Frying Pan, a successful chain started by our CEO, Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan.</p>
		</div>
  	</div>
  	<div class="card">
  		<div class="item item-divider">
  			Corporate Leadership
  		</div>
  		<div class="item">
            <div class="item item-avatar item-text-wrap">
               <img ng-src="{{baseURL+leaders[0].image}}" alt="{{leaders[0].name}}">
                <h2>{{leaders[0].name}}</h2>
                <h4>{{leaders[0].designation}}</h4>
                <p>{{leaders[0].description}}</p>
          </div>
        </div>
        <div class="item">
            <div class="item item-avatar item-text-wrap">
               <img ng-src="{{baseURL+leaders[1].image}}" alt="{{leaders[1].name}}">
                <h2>{{leaders[1].name}}</h2>
                <h4>{{leaders[1].designation}}</h4>
                <p>{{leaders[1].description}}</p>
          </div>
        </div>
        <div class="item">
            <div class="item item-avatar item-text-wrap">
               <img ng-src="{{baseURL+leaders[2].image}}" alt="{{leaders[2].name}}">
                <h2>{{leaders[2].name}}</h2>
                <h4>{{leaders[2].designation}}</h4>
                <p>{{leaders[2].description}}</p>
          </div>
          <div class="item">
            <div class="item item-avatar item-text-wrap">
               <img ng-src="{{baseURL+leaders[3].image}}" alt="{{leaders[3].name}}">
                <h2>{{leaders[3].name}}</h2>
                <h4>{{leaders[3].designation}}</h4>
                <p>{{leaders[3].description}}</p>
          </div>
        </div>
        </div>
  	</div>
  </ion-content>
</ion-view>